@import "@styles/variables.scss";

.home {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 100vh;
  background-color: $bgDarkMain;
  flex-direction: column;
  position: relative;
  gap: 3rem;
  padding-bottom: 5rem;

  .navbarLinks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1rem;
    gap: 1rem;
    flex-wrap: wrap;
  }

  .mainContent {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 2rem 3rem;
    gap: 1.5rem;
    width: 90vw;
    max-width: 600px;
    background-color: $bgDarkSecondary;
    border-radius: 1rem;
    animation: fadeUp 1.5s ease;

    .taskWarning {
      font-size: max(1.3rem, 0.8vw);
      letter-spacing: 0.1rem;
    }

    .errorWarning {
      animation: fadeUp 0.3s ease;
      color: red;
      font-size: max(1.2rem, 0.8vw);
      letter-spacing: 0.1rem;
    }

    .mainContentForm {
      display: flex;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;

      input {
        width: 100%;
        margin: 0 auto;
      }

      button {
        max-width: 200px;
        width: 90%;
        margin: 0 auto;
        text-align: center;
      }
    }

    .taskList {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;
    }
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
