@import "@styles/variables.scss";

.task {
  display: flex;
  justify-content: space-between;
  background-color: $bgDarkThird;
  border-radius: 1rem;
  overflow: hidden;
  gap: 1rem;
  padding: 0 0.5rem;
  animation: fadeUp 0.3s ease;
  transition: all 0.5s ease;

  input {
    width: 100%;
    flex: 1 1 0%;
    border: none;
    outline: transparent;
    background-color: transparent;
    padding: 1rem;
    font-size: max(1.3rem, 1vw);
  }

  .taskInteractions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    button {
      background: transparent;
      border: none;
      outline: transparent;
      min-width: 30px;
      min-height: 30px;
      object-fit: cover;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      svg {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.removeTask {
  animation: fadeOut 0.2s ease;
}

.taskEdit {
  color: $clrLightGreen !important;
}

.taskCompleted {
  background-color: rgb(168, 71, 19);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(-5rem);
    z-index: -10;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
