@import "@styles/variables.scss";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
  background-color: $bgDarkSecondary;
  padding: 1rem 2rem;
  cursor: pointer;
}
