@import "@styles/variables.scss";

.settings {
  display: flex;
  background-color: $bgDarkMain;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;

  .navbarLinks {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
  }

  .form {
    width: 90vw;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: $bgDarkSecondary;
    gap: 1rem;
    padding: 2rem 1rem;
    border-radius: 1rem;
    animation: fadeUp 1.5s ease;
  }
}

.editConfigInput {
  color: $clrLightGreen;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(5rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-height: 650px) {
  .settings {
    flex-direction: column;
    justify-content: flex-start;
    gap: 3rem;

    .navbarLinks {
      position: static !important;
    }
  }
}

.deleteAllTasks {
  width: fit-content;
  margin: 0 auto;
  padding: 1rem 2rem;
  background: none;
  color: $clrWhite;
  border: 1px solid white;
  cursor: pointer;
  border-radius: 1rem;
  outline: transparent;
  transition: all 0.5s ease;

  &:hover {
    background-color: $bgLightGreen;
    color: $clrDarkGreen;
  }
}
