@import "@styles/variables.scss";

.landing {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  text-align: center;
  background-color: $bgDarkMain;
  padding: 1rem;

  .title {
    opacity: 0;
    font-size: max(5ch, 3vw);
    animation: fadeBottom 1s 1s ease-in-out forwards;
    .titleName {
      letter-spacing: 0.1rem;
      color: $clrLightGreen;
    }
    margin-bottom: 0.5rem;
  }
  .subtitle {
    opacity: 0;
    animation: fadeBottom 1s 0.5s ease-in-out forwards;
    margin-bottom: 0.5rem;
    font-weight: 500;
    font-size: max(2rem, 2vw);
  }

  .link {
    border-radius: 1rem;
    border: none;
    outline: transparent;
    overflow: hidden;
    transition: all 0.5s ease;
    background: $bgDarkSecondary;
    font-size: max(1.5rem, 1.5vw);
    animation: fadeBottom 1s ease-in-out forwards;

    a {
      color: $clrWhite;
      padding: 0.5rem 1rem;
      text-decoration: none;
      display: block;
    }
  }
}

@keyframes fadeBottom {
  from {
    transform: translateY(-5rem);
    opacity: 0;
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
