$clrDarkGreen: #153530;
$bgDarkMain: #32385a;
$bgDarkSecondary: #202443;
$bgDarkThird: #3c4169;
$bgLightGreen: #41cd7d;
$clrLightGreen: #41cd7d;
$clrWhite: #e5e7f0;
$clrGray: #83879d;
$boxShadow: "2px 4px 4px rgba(45, 97, 89, 0.25)";
